/* GLOBAL */
* {
    box-sizing: border-box;
}

body {
    background-color: #191919;
    margin: 0px;
}

.white {
    color: #fff;
}

.allCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textShadow {
    text-shadow: 2px 2px 8px #000;
}

.cp {
    cursor: pointer;
}


/* NAVIGATION */
.navPokeImg{
    width: 46px;
    height: auto;
}

.navImg {
    width: 160px;
}

#searchField:hover {
    box-shadow: 1px 1px 20px 8px rgb(160, 156, 156);
}
.homeNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 60px 4px 60px;
}

.homeNav input{
    width: 500px;
    height: 30px;
    margin-left: 14px;
    margin-right: 14px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
}

.pokemonCave {
    color: #fff;
    width: 360px;
    height: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 14px;
    overflow: hidden;
    opacity: 0.8;
}

.pokemonCave:hover {
    /* box-shadow: 1px 3px 15px 8px rgba(14, 35, 221, 0.596); */
    opacity: 1.0;
}

.pokemonImgContainer {
    position: relative;
    z-index: 1;
    flex-direction: column;
}

.pokeballImg {
    width: 400px;
    height: auto;
    opacity: 0.3;
    position: absolute;
    right: -160px;
    top: -10px;
    z-index: 2;
}

.pokemonsImg {
    width: 160px;
    height: auto;
    position: relative;
    z-index: 3;
}

.renderedPokemonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.spanStyle {
    background-color: rgba(255, 235, 205, 0.493);
    border-radius: 50px;
    width: 100px;
    text-align: center;
}

.pokemonInfoContainer {
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 20px;
}

.notFound {
    color:rgb(255, 255, 255);
    position: absolute;
    top: 300px;
}


/* OVERLAY */
#overlay{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #191919;
    opacity: 0.5;
    z-index: +1;
}


/* POKEMON CARDSstyling */
.pokemonSwitcherContainer {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.pokeSwitcherArrow {
    opacity: 0.5;
}

.renderPokemonCardStyle {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: +1;
}

#pokemonCardContainer {
    height: 100vh;
    background-color: #191919;
    z-index: +1;
}

.cardStyle {
    background-image: url("img/pokemon-gc071927e2_1920.jpg");
    background-position: 50% 50%;
    background-size: 200%;
    flex-direction: column;
    width: 400px;
    height: auto;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-top: 30px;
    position: relative;
}

.containerCardHeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 24px;
}

.cardSpanStyle {
    background-color: rgba(255, 235, 205, 0.493);
    border-radius: 50px;
    width: 100px;
    text-align: center;
}

.card-header span{
    color:rgb(255, 255, 255);
}

.card-header img {
    width: 30px;
    margin-right: 10px;
}

.pokemonCardName {
    color:#fff;
    margin-top: 14px;
}

.pokeType {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 14px;
    margin-left: 14px;
}

.cardText {
    padding-top: 20px;
    color:rgb(255, 255, 255);
    font-size: 20px;
}

.pokeInfoStyle {
    margin-bottom: 6px;
}


/* PROPERTIES */
.nav-link {
    color: #fff;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: rgba(255, 235, 205, 0.493);
    --bs-nav-link-disabled-color: #6c757d;
}

/* ABOUT */
.aboutStyling {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 24px;
    margin-left: 24px;
}

/* BASE-STAT */
.progress {
    width: 100%;
    --bs-progress-height: 1.6rem;
}

.tab-content {
    width: 80%;
    margin-top: 20px;
}

.statStyle {
    width: 30%;
}

.progress {
    --bs-progress-border-radius: 3rem;
    --bs-progress-height: 1.0rem;
}

.statMargin {
    margin-top: 8px;
}

/* EVOLUTION-STYLE */
.evoStyle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.evoStyle:hover {
    /* background-color: rgba(255, 235, 205, 0.493); */
    /* box-shadow: 1px 3px 15px 10px rgba(115,108,100,0.65); */
    border-bottom: 1px solid #fff;
}

#nav-evolution {
    display: flex;
}


/* MOVES-STYLE */
.movesStyle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden !important;
    height: 240px;
}

.overflow-auto {
    overflow-y: scroll!important;
}


/* SCROLLBAR-STYLING */
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(83, 76, 76); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2b2424; 
}



/* MEDIA-QUERIES */
@media only screen and (min-width: 1200px) {
    .card-header {
        width: 150%;
    }
    
    .cardStyle {
        background-image: url("img/poke1gif.gif");
        background-position: 50% 50%;
        background-size: 100%;
        object-fit: cover;
    }


    .cardStyle {
        width: 800px;
        height: 400px;
    }

    nav {
        width: 100%;
    }
    
    .nav-tabs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-fluid {
        height: 350px;
        object-fit: contain;
    }

    .tab-content {
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) {
    .card-header {
        width: 150%;
    }

    .cardStyle {
        background-image: url("img/poke1gif.gif");
        background-position: 30% 50%;
        background-size: 100%;
    }

    #pokemonCardContainer {
        height: 100%;
        width: 100%;
    }

    .cardStyle {
        width: unset;
        height: 400px;
    }

    nav {
        width: 100%;
    }
    
    .nav-tabs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-fluid {
        height: 350px;
        object-fit: contain;
    }

    .tab-content {
        width: 50%;
    }
}


@media only screen and (max-width: 720px) {
    .cardStyle {
        background-image: url("img/poke1gif.gif");
        background-position: 30% 50%;
        background-size: 120%;
    }
}


@media only screen and (max-width: 640px) {
    .navPokeImg {
        display: none;
    }

    .homeNav {
        margin: 2px 2px 2px 2px;
    }

    .homeNav input {
        height: 30px;
        margin-left: 2px;
        margin-right: 2px;
        padding-left: 20px;
        border-radius: 10px;
        border: none;
    }

    .tab-content {
        width: 70%;
        margin-top: 2px;
    }

    .img-fluid {
        height: 220px;
    }

    .cardStyle {
        height: 240px;
        padding-top: 20px;
    }

    .cardText {
        padding-top: 6px;
    }

    .card-header {
        width: 130%;
    }

    .mb-2 {
        margin-bottom: 0.1rem!important;
    }

    .statMargin {
        margin-top: 4px;
    }

    h1 {
        margin-bottom: 0.3rem;
    }
}

@media only screen and (max-width: 480px) {
    .homeNav {
        margin: 8px 2px 8px 2px;
    }
    
    .navImg {
        width: 120px;
    }

    .cardStyle {
        background-image: url("img/poke1gif.gif");
        background-position: 30% 50%;
        background-size: 150%;
    }

    .tab-content {
        width: 100%;
    }

    .nav {
        --bs-nav-link-padding-x: 0.3rem;
    }

    .card-header {
        width: 110%;
    }
    
    .pokemonCave {
        margin-right: unset;
    }
}


@media only screen and (max-width: 370px) {
    .homeNav {
        flex-direction: column;
    }

    .navImg {
        width: 100px;
        margin-bottom: 4px;
    }

    .homeNav input {
        height: 30px;
        margin-left: 12px;
        margin-right: 12px;
        width: 94%;
    }
}