/* GLOBAL */
* {
    box-sizing: border-box;
}

body {
    background-color: #191919;
    margin: 0px;
}

.white {
    color: #fff;
}

.allCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textShadow {
    text-shadow: 2px 2px 8px #000;
}

.cp {
    cursor: pointer;
}


/* POKEMON MAIN CONTAINER */
/* .mainContainer {
    background-image: url("img//pokemon-gc071927e2_1920.jpg");
    height: 100vh;
    object-fit: cover;
    background-position: center;
} */

.pokemonCave {
    color: #fff;
    width: 360px;
    height: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 14px;
    overflow: hidden;
}

.pokemonImgContainer {
    position: relative;
    z-index: 1;
    flex-direction: column;
}

.pokeballImg {
    width: 400px;
    height: auto;
    opacity: 0.3;
    position: absolute;
    right: -160px;
    top: -10px;
    z-index: 2;
}

.pokemonsImg {
    width: 160px;
    height: auto;
    position: relative;
    z-index: 3;
}

.renderedPokemonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.spanStyle {
    background-color: rgba(255, 235, 205, 0.493);
    border-radius: 50px;
    width: 100px;
    text-align: center;
}

.pokemonInfoContainer {
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 20px;
}


/* OVERLAY */
#overlay{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #191919;
    opacity: 0.5;
    z-index: +1;
}


/* POKEMON CARDSstyling */
.renderPokemonCardStyle {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: +1;
}

#pokemonCardContainer {
    height: 100vh;
    background-color: #191919;
    z-index: +1;
}

.cardStyle {
    flex-direction: column;
    width: 400px;
    height: auto;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-top: 30px;
}

.containerCardHeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 24px;
}

.cardSpanStyle {
    background-color: rgba(255, 235, 205, 0.493);
    border-radius: 50px;
    width: 100px;
    text-align: center;
}

.card-header span{
    color:rgb(255, 255, 255);
}

.card-header img {
    width: 30px;
    margin-right: 10px;
}

.pokemonCardName {
    color:#fff;
    margin-top: 14px;
}

.pokeType {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 14px;
    margin-left: 14px;
}

.cardText {
    padding-top: 20px;
    color:rgb(255, 255, 255);
    font-size: 20px;
}


/* PROPERTIES */

/* ABOUT */
.aboutStyling {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 24px;
    margin-left: 24px;
}

/* BASE-STAT */
.progress {
    width: 100%;
    --bs-progress-height: 1.6rem;
}

.tab-content {
    width: 80%;
    margin-top: 20px;
}

.statStyle {
    width: 30%;
}

.progress {
    --bs-progress-border-radius: 3rem;
    --bs-progress-height: 1.0rem;
}

.statMargin {
    margin-top: 8px;
}